<h1>Ecco il pacchetto che hai selezionato:</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="js_package_container">
            </div>
        </div>
    </div>
</div>
<div>
    <div class="col-12 mt-5">
        <h2>Contattami</h2>
        <form onsubmit="inviaMessaggio(event)">
            <div class="mb-3">
            <label for="contact-email" class="form-label">Email</label>
            <input type="email" class="form-control" id="contact-email" required>
            </div>
            <div class="mb-3">
            <label for="contact-name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="contact-name" required>
            </div>
            <div class="mb-3">
            <label for="contact-title" class="form-label">Titolo</label>
            <input type="text" class="form-control" id="contact-title" required>
            </div>
            <div class="mb-3">
            <label for="contact-text" class="form-label">Testo</label>
            <textarea class="form-control" id="contact-text" rows="10" required></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Invia" />
        </form>
    </div>
</div>
<script type="text/javascript">
    debugger;
    let id = window.location.pathname.split('/')[3];
    axios.get(`/api/travelpackages/GetTravelPackage/${id}`).then(res => {
        const package = res.data;
        document.querySelector('.js_package_container').innerHTML +=
            `
            <div class="col-4 py-2" >
    @*<a href="@Url.Action("Details", "Home", new {Id = actor.id})" class="btn btn-danger my-3">Details*@
                <img src="${package.image}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">${package.name}</h5>
                        <p class="card-text">${package.description}</p>
                        <p class="card-text">Prezzo: ${package.price}</p>                      
                    </div>
                <div class="d-flex justify-content-center align-items-center gap-4">
                    <button class="btn-primary home-btn"><a href="@Url.Action("Index", "Home")" class="btn btn- my-3">Home</a></button>
                </div>
            </div>
            `;
    }).catch(err => {
        console.log(err);
    })
    function inviaMessaggio(e) {
            e.preventDefault();
            let id = window.location.pathname.split('/')[3];
            axios.post(`/api/message/send/${id}`, {
                email: document.querySelector('#contact-email').value,
                name: document.querySelector('#contact-name').value,
                title: document.querySelector('#contact-title').value,
                text: document.querySelector('#contact-text').value,
            })
            .then(function (response) {
                document.querySelector('#contact-email').value = '';
                document.querySelector('#contact-name').value = '';
                document.querySelector('#contact-title').value = '';
                document.querySelector('#contact-text').value = '';
                // in una versione avanzata questo alert è da fare più carino, ma non è scopo di questa esercitazione
                alert('Messaggio inviato correttamente');
            });
        }

</script>

<style scoped>
   
</style>
